# C gitignore

# C
#-	Object file
#-	Compiled header
#-	Executables

*.o

*.gch

*.out
!tests/students-tests/*.out
*.exe

# Project specific
#-	Final executable
#-	Test resukt
asa.out
tests/students-tests/*.gen
